<html>
    <head>
        <title>About Flask</title>
    </head>
    <body>
        <h1><em>What is Flask?</em></h1>

        <h2>Flask is a lightweight and flexible web framework written in Python. 
            It is classified as a "microframework" because it provides the core functionalities for web development, such as URL routing and request handling, but it does not include built-in features like database abstraction layers, 
            form validation, or full-fledged authentication systems. Instead, Flask encourages the use of extensions to add these functionalities as needed. 
        </h2>
    </body>
</html>