<h2>Edit User {{ user.id }}</h2>
<form action="{{ url_for('user_update', user_id=user.id) }}" method="POST">
    <label>First name:</label><input type="text" name="first_name" value="{{ user.first_name }}"><br>
    <label>Last name:</label><input type="text" name="last_name" value="{{ user.last_name }}"><br>
    <label>Email:</label><input type="email" name="email" value="{{ user.email }}"><br>
    <button type="submit">Update</button>
</form>
<a href="{{ url_for('users_index') }}">Back to Users</a>