body {
font-family: Arial, sans-serif;
background-color: #f0f2f5;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
display: flex;
width: 900px;
justify-content: space-between;
align-items: center;
}

.left {
width: 50%;
padding-right: 20px;
}

.logo {
color: #1877f2;
font-size: 48px;
margin-bottom: 10px;
}

.tagline {
font-size: 20px;
color: #1c1e21;
}

.right {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 360px;
}

.login-form input {
width: 100%;
padding: 14px;
margin-bottom: 10px;
border: 1px solid #dddfe2;
border-radius: 6px;
font-size: 16px;
}

.login-btn {
width: 100%;
padding: 14px;
background-color: #1877f2;
color: #fff;
font-size: 18px;
border: none;
border-radius: 6px;
cursor: pointer;
margin-bottom: 10px;
}

.forgot {
display: block;
text-align: center;
margin-bottom: 10px;
color: #1877f2;
text-decoration: none;
}

hr {
border: none;
height: 1px;
background-color: #dddfe2;
margin: 10px 0;
}

.create-btn {
background-color: #42b72a;
color: white;
font-size: 17px;
padding: 14px;
width: 100%;
border: none;
border-radius: 6px;
cursor: pointer;
}

.create-page {
margin-top: 20px;
text-align: center;
font-size: 14px;
}

.create-page a {
font-weight: bold;
color: #1877f2;
text-decoration: none;
}

.h1-logo{
font-size: 48px;
color: blue
}